<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tunasushi">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_tunasashimi"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.EntryActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.TViewActivity" />

        <activity android:name=".activity.TAnalysisActivity" />
        <activity android:name=".activity.TArcActivity" />

        <activity android:name=".activity.TBezierActivity" />
        <activity android:name=".activity.TBubbleActivity" />
        <activity android:name=".activity.TButtonActivity" />

        <activity android:name=".activity.TDialogActivity" />
        <activity android:name=".activity.TDrawActivity" />

        <activity android:name=".activity.THollowActivity" />

        <activity android:name=".activity.TImageActivity" />
        <activity android:name=".activity.TIrregularActivity" />

        <activity android:name=".activity.TLayoutActivity" />
        <activity android:name=".activity.TLineActivity" />

        <activity android:name=".activity.TMaterialActivity" />
        <activity android:name=".activity.TMoveActivity" />

        <activity android:name=".activity.TPathActivity" />
        <activity android:name=".activity.TPatternActivity" />
        <activity android:name=".activity.TPentagramActivity" />
        <activity android:name=".activity.TProgressActivity" />

        <activity android:name=".activity.TRangeActivity" />
        <activity android:name=".activity.TRepeatActivity" />
        <activity android:name=".activity.TRippleActivity" />
        <activity android:name=".activity.TRowActivity" />

        <activity android:name=".activity.TScaleActivity" />
        <activity android:name=".activity.TScratchActivity" />
        <activity android:name=".activity.TSectorActivity" />
        <activity android:name=".activity.TSeekActivity" />
        <activity android:name=".activity.TSignActivity" />
        <activity android:name=".activity.TSVGActivity" />

        <activity android:name=".activity.TTrackActivity" />
        <activity android:name=".activity.TTrangleActivity" />

        <activity android:name=".activity.TWaveActivity" />
        <activity android:name=".activity.TWrapActivity" />

    </application>

</manifest>