<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tunasushi.demo">

    <application
        android:allowBackup="true"
        android:icon="@drawable/bitmap_icon_tunasashimi"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.tunasushi.activity.EntryActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.tunasushi.activity.TViewActivity" />

        <activity android:name="com.tunasushi.activity.TAnalysisActivity" />
        <activity android:name="com.tunasushi.activity.TArcActivity" />

        <activity android:name="com.tunasushi.activity.TBezierActivity" />
        <activity android:name="com.tunasushi.activity.TBindingActivity" />
        <activity android:name="com.tunasushi.activity.TBubbleActivity" />
        <activity android:name="com.tunasushi.activity.TButtonActivity" />

        <activity android:name="com.tunasushi.activity.TDialogActivity" />
        <activity android:name="com.tunasushi.activity.TDrawActivity" />

        <activity android:name="com.tunasushi.activity.THollowActivity" />

        <activity android:name="com.tunasushi.activity.TImageActivity" />

        <activity android:name="com.tunasushi.activity.TLayoutActivity" />
        <activity android:name="com.tunasushi.activity.TLineActivity" />
        <activity android:name="com.tunasushi.activity.TLoadActivity" />

        <activity android:name="com.tunasushi.activity.TMaterialActivity" />
        <activity android:name="com.tunasushi.activity.TMoveActivity" />

        <activity android:name="com.tunasushi.activity.TPathActivity" />
        <activity android:name="com.tunasushi.activity.TPatternActivity" />
        <activity android:name="com.tunasushi.activity.TPentagramActivity" />
        <activity android:name="com.tunasushi.activity.TProgressActivity" />

        <activity android:name="com.tunasushi.activity.TRangeActivity" />
        <activity android:name="com.tunasushi.activity.TRepeatActivity" />
        <activity android:name="com.tunasushi.activity.TRippleActivity" />

        <activity android:name="com.tunasushi.activity.TScaleActivity" />
        <activity android:name="com.tunasushi.activity.TScratchActivity" />
        <activity android:name="com.tunasushi.activity.TSectorActivity" />
        <activity android:name="com.tunasushi.activity.TSeekActivity" />
        <activity android:name="com.tunasushi.activity.TSignActivity" />
        <activity android:name="com.tunasushi.activity.TSVGActivity" />

        <activity android:name="com.tunasushi.activity.TToggleActivity" />
        <activity android:name="com.tunasushi.activity.TTrackActivity" />
        <activity android:name="com.tunasushi.activity.TTrangleActivity" />

        <activity android:name="com.tunasushi.activity.TWaveActivity" />
        <activity android:name="com.tunasushi.activity.TWrapActivity" />

        <activity android:name="com.tunasushi.activity.TestActivity" />
    </application>
</manifest>